body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.15;
    background-color: #f9f9f9;
    color: #333;
    word-spacing: 0.16em; /* Adjust this value as needed */
}
header {
    background: url('./yanchaoy/background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 448px; /* Set height to 448px */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 5px solid #357250; /* Add a border to make it more prominent */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    width: 100%; /* Ensure full width coverage */
    box-sizing: border-box; /* Include padding and border in width and height */
}
header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3em; /* Increase font size */
    font-weight: bold; /* Make it bold */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow */
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile img {
    height: 224px; /* Set height for portrait ratio */
    width: auto; /* Maintain original aspect ratio */
    margin-right: 50px;
}
.profile-info {
    text-align: left;
    padding: 10px 10px; /* Adjust padding to match the image height */
}
.profile-info h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-top: -8px; /* Adjust this value as needed */
}
.profile-info a {
    color: #357250; /* Noble Green */
    text-decoration: none;
}
.profile-info a:hover {
    text-decoration: underline;
}
.social-icons {
    margin-top: 12px;
}
.social-icons a {
    margin-right: 10px;
    color: #333;
    font-size: 1.2em;
}
nav {
    background-color: #357250; /* Noble Green */
    text-align: center;
    padding: 15px 5px;
}
nav a {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0 25px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section h2, section h3 {
    font-family: 'Raleway', sans-serif;
}
section a {
    font-weight: bold;
    color: #357250; /* Noble Green */
    text-decoration: none;
}
section a:hover {
    text-decoration: underline;
}
.publication {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.publication .image-container {
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    margin-right: 40px;
    flex-shrink: 0; /* Prevent shrinking of the image container */
}
.publication .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #99b9a6;
    color: white;
}
.custom-mark {
    background-color: #99b9a6;
}
ul li {
    line-height: 1.5; /* Adjust the value to change the spacing */
}
